/* name colours */

/* Creator */
#chat .chat-container .chat-messages .chat-main li.creator .user-role,
#chat .chat-container .chat-messages .chat-main li.creator .username,
#main_avatar_room #main-user-list-room #avatar-list li.creator .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.creator .username
{
    color: #A946EB;
}
/* Co-owner */
#chat .chat-container .chat-messages .chat-main li.co-owner .user-role,
#chat .chat-container .chat-messages .chat-main li.co-owner .username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username
{
    color: #FF007F;
}
/* Manager */
#chat .chat-container .chat-messages .chat-main li.manager .user-role,
#chat .chat-container .chat-messages .chat-main li.manager .username,
#main_avatar_room #main-user-list-room #avatar-list li.manager .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.manager .username
{
    color: #1750a5;
}
/* Modarator */ 
#chat .chat-container .chat-messages .chat-main li.mod .user-role,
#chat .chat-container .chat-messages .chat-main li.mod .username,
#main_avatar_room #main-user-list-room #avatar-list li.mod .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.mod .username
{
    color: #3083FF;
}
/* VIP */
#chat .chat-container .chat-messages .chat-main li.vip .user-role,
#chat .chat-container .chat-messages .chat-main li.vip .username,
#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.vip .username
{
    color: #12FC9F;
}
/* RDJ */ 
#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role,
#chat .chat-container .chat-messages .chat-main li.resident-dj .username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username
{
    color: #33CCFF;
}
/* Admin */
#chat .chat-container .chat-messages .chat-main li.admin .user-role,
#chat .chat-container .chat-messages .chat-main li.admin .username,
#main_avatar_room #main-user-list-room #avatar-list li.admin .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.admin .username
{
    color: #ff7e00;
}

.admin .username:after
{
    display: none;
}

/* badges */
.creator span.user-role-icon {
    background-image: url(https://xragnax.github.io/ragnax.github.io/css/Icons/Creator.png);
    display: inline-block !important;
}

.co-owner span.user-role-icon {
    background-image: url(WIP);
    display: inline-block !important;
}

.manager span.user-role-icon {
    background-image: url(WIP);
    display: inline-block !important;
}

.mod span.user-role-icon {
    background-image: url(WIP);
    display: inline-block !important;
}

.vip span.user-role-icon {
    background-image: url(https://xragnax.github.io/ragnax.github.io/css/Icons/VIP.png);
    display: inline-block !important;
}

.resident-dj span.user-role-icon {
    background-image: url(https://xragnax.github.io/ragnax.github.io/css/Icons/RDJ.png);
    display: inline-block !important;
}

/* Emote sizes */
#chat .emoji {
    max-width: none !important;
    max-height: 28px !important;
    width: auto !important;
    height: auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error {
    text-transform: uppercase;
}

#chat .chat-main li[class*='system'] {
    color: darkturquoise !important;
    text-align: center;
    border-top: darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}
